header {
    width: 100%;
    height: 75px;
    background-color: aqua;
    /* display: table; */
    /* word-spacing: -1em; */
}

.w_logo {
    float: left;
    width: 200px;
    height: 65px;
    background-color: bisque;
    padding: 5px 0px;
    margin-left: 210px;
}

.w_logo img {
    width: 200px;
    height: 65px;
    padding: 5px 0px;
    vertical-align: middle;
}

.w_header_nav {
    width: 550px;
    height: 75px;
    background-color: red;
    float: left;
}