nav {
    width: 100%;
    height: auto;
    /* background-color: rgb(195, 191, 182); */
    position: relative;
}

/* 大图片 */
.w_big_img {
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    position: relative;
}

.w_big_img img {
    width: 100%;
    height: 300px;
    top: 0px;
    left: 0px;
    position: absolute;
}

/* 右边倒计时 */
.w_sound {
    position: absolute;
    right: 250px;
    top: 25px;
    width: 360px;
    height: 250px;
    /* background-color: aquamarine; */
    animation: mark 3s ease-out 1;
    transition: all;
}

@keyframes mark {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.w_sound h1 {
    font-size: 35px;
    color: #fff;
}

.yx_samll_box {
    width: 250px;
    /* height: 100px; */
    /* background-color: #a39f96; */
    margin: auto;
}

.apply {
    /* width: 90px; */
    height: 30px;
    background-color: #e4e4e44e;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 10px;
    padding: 5px;
    margin-left: 24px;
    border-radius: 5px;
}

.price_yx {
    /* width: 80px; */
    height: 30px;
    background-color: #e4e4e44e;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
}

.num_yx {
    /* width: 80px; */
    height: 30px;
    background-color: #e4e4e44e;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    float: left;
    padding: 5px;
    border-radius: 5px;

}

.timer {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

.request {
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: red;
    margin: auto;
    margin-top: 20px;
    line-height: 50px;
}

/* 热门应用 的4个图片 */
.w_carousel {
    width: 1100px;
    height: 365px;
    /* background-color: rgb(255, 255, 255); */
}

.w_hot_box {
    height: 370px;
    background-color: #fff;
    position: relative;
}

.w_hot_box h1 {
    margin: 20px 0px;
}

.w_carousel_box {
    height: 285px;
    margin: auto;
    /* background-color: rgb(113, 141, 132); */
    color: #000;
}

.w_carousel_box ul {
    width: 1120px;
    margin-top: 20px;
}

.w_carousel_box ul li {
    width: 227px;
    height: 285px;
    /* background-color: rgba(49, 64, 59, 0.626); */
    text-align: center;
    border-radius: 8px;
    position: relative;
    float: left;
    margin-right: 50px;
    border: 1px solid rgb(172, 160, 160);
    box-sizing: content-box;
}

.w_carousel_box .publish {
    width: 30px;
    height: 20px;
    background-color: red;
    position: absolute;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    top: 0px;
    right: 0px;
    color: #fff;
    border-radius: 0px 8px 0px 8px;
}

.w_carousel_box h2 {
    font-size: 18px;
    padding: 3px;
    font-weight: 500;
}

.carousel_img img {
    width: 227px;
    height: 130px;
    border-radius: 8px 8px 0px 0px;
}

.curr_one,
.curr_two {
    margin-top: 8px;
}

.curr_two {
    font-size: 16px;
}

.curr_three {
    margin-top: 8px;
    color: red;
}

.w_carousel_box .red {
    border: 1px solid red;
    padding: 3px;
    color: red;
    border-radius: 3px;
}

.w_carousel_box .sq {
    color: red;
}

.w_carousel_box .red:nth-of-type(2) {
    margin-left: 5px;
}

/*体验式共享*/
.publish_tiyan {
    width: 60px;
    height: 20px;
    background-color: #f9f4cc;
    position: absolute;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    top: 0px;
    right: 0px;
    color: #c8ba8a;
    border-radius: 0px 8px 0px 8px;
}

.red_tiyan {
    border: 1px solid green;
    padding: 3px;
    color: green;
    border-radius: 3px;
}

.curr_three_tiyan {
    color: green;
}

/* 左边点击轮换 */
.left_click {
    width: 50px;
    height: 100px;
    /* background-color: aquamarine; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -60px;
    line-height: 100px;
}

.right_click {
    width: 50px;
    height: 100px;
    /* background-color: aquamarine; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    line-height: 100px;
    text-align: right;
}

/* 报告精选 */
.report_selected {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
}

/* 报告精选盒子 */
.selected_nav {
    width: 100%;
    height: 30px;
    background-color: #f7f7f7;
    line-height: 30px;
    padding: 20px 0px;
}

.title {
    float: left;
}

/* 查看更多 */
.report_img {
    margin-right: 37px;
    float: right;
}

.report_img a {
    color: red;
    float: right;
}

/* 图片 */
.report_img img {
    margin-left: 15px;
}

/* .report_box {
    height: 400px;
    background-color: #c8ba8a;
} */

.report_box ul {
    width: 1120px;
    height: auto;
    /* background-color: aquamarine; */
}

.rebox_img img {
    width: 227px;
    height: 130px;
    border-radius: 8px 8px 0px 0px;
}

.report_box li {
    width: 227px;
    height: 235px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    float: left;
    margin-right: 50px;
    border: 1px solid rgb(172, 160, 160);
    font-size: 13px;
    box-sizing: content-box;
    margin-bottom: 20px;
}

/* 图片下面的文字 */
.rebox_wenzi {
    padding: 5px 9px;
}

/* 点赞和评论 */
.comment {
    margin-top: 15px;
}

.renu::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #a39f96;
    margin-right: 5px;
}

.renu {
    float: left;
    padding-left: 10px;
    width: 40px;
    height: 20px;
}

.zan,
.reply {
    float: right;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
}

.zan img {
    top: 3.5px;
    left: -12px;
    position: absolute;
}

.reply img {
    top: 3.5px;
    left: -14px;
    position: absolute;
}

/* 导购精选 */
.shopping_selected {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-bottom: 50px;
}

.shopping_nav {
    width: 100%;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    padding: 20px 0px;
}

.report_box li {
    position: relative;
}

.bottom_img {
    left: 0px;
    bottom: -11px;
    position: absolute;
}

.bottom_img img {
    width: 227px;
}

/* 发现酷玩 */
.discover_kuwan {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding-bottom: 30px;
}

.discover_nav {
    width: 100%;
    height: 30px;
    background-color: #f7f7f7;
    line-height: 30px;
    padding: 20px 0px;
}

.price {
    margin-left: 5px;
    color: red;
    float: left;
    font-size: 15px;
    line-height: 16px;
}

.price span {
    margin-right: 5px;
}

/* 点击加载更多 */
.upload {
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.upload a {
    color: #fe9e93;
}

/* 返回顶部 */
/* .go_back {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    line-height: 100px;
    text-align: center;
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: aqua;
    cursor: pointer;
    display: none;
} */