.cooltil_x{
    width: 100%;
    height: auto;
}
.cooltil_ul{
    width: 800px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    padding: 0 150px;
    border-top: 2px solid #e1dfdf ;
}
.cooltil_ul li{
    float: left;
    margin: 0 60px;
    font-size: 25px;
    color: #aaa6a6;
}
.big{
    width: 100%;
    background-color: #F7F7F7;
}
.small{
    width: 1100px;
    height:1350px;
    margin: 0 auto;
}
.full0ul .list0{
    width: 228px;
    height: 300px;
    float: left;
    margin-left: 38px;
    margin-top: 20px;
    /* border-radius: 20px; */
}
.imgy{
    width: 228px;
}
.tp{
    margin: 5px 10px;
    text-align: center;
}
.sp{
    text-align: center;
}
.sp .left{
    width: 50px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid green;
    color: green;
}
.sp .right{
    width: 30px;
    height: 20px;
    border: 1px solid green;
    color: green;
}
.pr{
    color: red;
    text-align: center;
    margin-top: 15px;
}
.bot{
    color: #aaa6a6;
    text-align: center;
    margin-top: 10px;
}
